html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#camera-view {
    display: none;
}

#tools-container {
    box-sizing: border-box;
    display: none;
    position: fixed;
    z-index: 3;
    overflow: auto;
    left: 50%;
    height: 90%;
    width: 50%;
    padding: 10px;
    background: #9099a8;
    opacity: 0.85;
}

#camera-and-text-container {
    position: fixed;
    height: 90%;
    width: 100%;
}

#save-area {
    height: auto;
    width: auto;
}

#camera-canvas {
    position: absolute;
}

#camera-view, #camera-canvas {
    transform: scaleX(-1);
}

#text-container {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #d2d5db;
    margin: 0 1px 0 -1px;
    /* text-indent with padding on the left side allows wrapped text to look auto-indented */
    padding: 5px 5px 5px 25px;
    text-indent: -20px;
}

#control-buttons {
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
}

.control-button {
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    border: 1px solid black;
    border-right: 1px solid white;
    padding: 15px 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    text-align: center;
}

.control-button:last-child {
    border-right: 1px solid black;
}

.control-button:hover {
    background-color: white;
    color: black;
}

