html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#tools-container {
    box-sizing: border-box;
    display: none;
    position: fixed;
    z-index: 3;
    overflow: auto;
    left: 50%;
    height: 90%;
    width: 50%;
    padding: 10px;
    background: #9099a8;
    opacity: 0.85;
}

#camera-and-text-container {
    position: absolute;
    height: 90%;
    width: 100%;
}

#camera-container {
    position: absolute;
}

#text-container {
    box-sizing: border-box;
    position: absolute;
    margin: 0px 1px 0px -1px;
    /* text-indent with padding on the left side allows wrapped text to look auto-indented */
    padding: 5px 5px 5px 25px;
    text-indent: -20px;
    border: 1px solid #d2d5db;
}

#camera-view, #camera-canvas, #camera-output {
    position: absolute;
    transform: scaleX(-1);
    filter: FlipH;
}

#control-buttons {
    position: fixed;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: black;
}

.control-button{
    box-sizing: border-box;
    width: 32%;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    border-top: 1px solid black;
    padding: 15px 20px;
    text-align: center;
}

.control-button:hover {
    background-color: white;
    color: black;
}
